@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin: 0;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #292f36;
  background-color: white;
  background: white;
}
